.about-wrap {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.about-wrap::-webkit-scrollbar {
    width: 0px;
}

.about-wrap h1 {
    font-family: "PartizenoRegular";
    font-size: 35px;
    width: 100%;
    background-color: #aca4806d;
    backdrop-filter: blur(10px);
    border-bottom: 1px dashed #89846b;
    text-align: center;
}

.about-wrap h1 em {
    font-family: 'Cara';
    font-size: 16px;
}

.about-wrap .about1 {
    width: 30%;
    height: auto;
    background-color: #aca4806d;
    backdrop-filter: blur(10px);
    border-right: 1px dashed #89846b;
    box-sizing: border-box;
}

.about-wrap .about1 figure {
    width: 100%;
    height: 55%;
    padding: 30px;
    display: flex;
    justify-content: center;
}

.about-wrap .about1 figure img {
    background-size: contain;
    background-position: center;
    width: 80%;
    height: 100%;
}

.about-wrap .about1 .info {
    padding: 0 30px 30px 30px;
}

.about-wrap .about1 .info h3 {
    font-family: "PartizenoRegular";
    font-size: 30px;
}

.about-wrap .about1 .info h3 em {
    font-family: 'Cara';
    font-size: 16px;
}

.about-wrap .about1 .info li {
    border-bottom: 1px solid #89846b;
    font-family: 'Abel';
}

.about-wrap .about1 .info li {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 13px 0 10px 0;
}

.about-wrap .about1 .info li em {
    text-transform: capitalize;
}

.about-wrap .about1 .info li span {
    font-family: 'IropkeBatang';
    font-size: 14px;
    padding-top: 2px;
    opacity: 0.7;
}

.about-wrap .about2 {
    width: 35%;
    height: auto;
    background-color: #F2F0E7;
    border-right: 1px dashed #89846b;
}

.about-wrap .about2 .record {
    padding: 40px;
}

.about-wrap .about2 .record h3 {
    font-family: "PartizenoRegular";
    font-size: 30px;
}

.about-wrap .about2 .record h3 em {
    font-family: 'Cara';
    font-size: 16px;
}

.about-wrap .about2 .record h4 {
    font-family: 'Abel';
    border-bottom: 1px dashed #89846b;
    margin-bottom: 10px;
    margin-top: 20px;
}

.about-wrap .about2 .record li {
    font-family: 'IropkeBatang';
    font-size: 14px;
    padding-left: 10px;
    position: relative;
}

.about-wrap .about2 .record li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 7px;
    width: 4px;
    height: 4px;
    background-color: #000;
}

.about-wrap .about3 {
    width: 35%;
    height: auto;
    background-color: #F2F0E7;
}

.about-wrap .about3 .ability {
    padding: 40px;
}

.about-wrap .about3 .ability h3 {
    font-family: "PartizenoRegular";
    font-size: 30px;
}

.about-wrap .about3 .ability h3 em {
    font-family: 'Cara';
    font-size: 16px;
}

.about-wrap .about3 .ability h4 {
    font-family: 'Abel';
    border-bottom: 1px dashed #89846b;
    margin-bottom: 10px;
    margin-top: 20px;
}

.about-wrap .about3 .ability h4 {
    font-family: 'Abel';
    border-bottom: 1px dashed #89846b;
    margin-bottom: 10px;
    margin-top: 20px;
}

.about-wrap .about3 .ability h5 {
    font-family: 'Abel';
    margin-bottom: 3px;
    margin-top: 5px;
    font-weight: 600;
}

.about-wrap .about3 .ability li {
    font-family: 'IropkeBatang';
    font-size: 14px;
    padding-left: 10px;
    position: relative;
}

.about-wrap .about3 .ability li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 7px;
    width: 4px;
    height: 4px;
    background-color: #000;
}

.about-wrap .about3 .ability p {
    font-family: 'IropkeBatang';
    font-size: 14px;
    padding-left: 10px;
    position: relative;
}

.about-wrap .about3 .ability .skill__box li {
    display: flex;

}

.about-wrap .about3 .ability .skill__box span {
    width: 20%;
}

progress {
    width: 80%;
    height: 20px;
}

/* ProgressBar 안의 바의 색상을 지정합니다. */
progress::-webkit-progress-value {
    background: #89846b;
    /* 바의 색상 (Chrome, Safari) */
}

progress::-moz-progress-bar {
    background: #89846b;
    /* 바의 색상 (Firefox) */
}



/* .page3 .skill .skill-progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e0e0e0;

border-radius: 50%;
clip: rect(0, 50%, 100%, 0);

transform-origin: center;
}

*/

.skill-bar {
    width: 300px;
    /* 막대 바의 전체 너비 */
    height: 20px;
    /* 막대 바의 높이 */
    background-color: #e0e0e0;
    /* 막대 바의 기본 배경색 */
    border-radius: 10px;
    /* 막대 바의 모서리를 둥글게 설정 */
    overflow: hidden;
    /* 막대 바의 넘치는 부분을 숨김 */
}

.skill-progress {
    height: 100%;
    background-color: #ccc7b2;
    /* 스킬과 역량을 표시하는 막대의 배경색 */
}