.about__wrap {
    width: 100%;
    height: 100%;
    display: flex;
    color: #333;
}


#page {}

#page>div {
    width: 100%;
}

bold {
    width: 100%;
    /* font-size: 18px; */
    font-weight: 600;
    border-bottom: 2px solid #333;
    display: flex;
}

.page1 {
    width: 24%;
    background-color: #ccc7b2;
    padding: 30px;
    box-sizing: border-box;
}

.page1 bold {
    /* margin: 3px 0; */
}

.page1 span {
    display: block;
    width: 100%;
    text-align: right;
}

.page1 .image {
    margin-bottom: 25px;
    padding-bottom: 10px;

}

.page1 .image {
    width: 250px;
    height: 250px;
    background-image: url(../image/main2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.page1 .profile {
    font-size: 22px;
    margin-bottom: 20px;
}

.page2 {
    width: 38%;
    background-color: #F2F0E7;
    padding: 30px;
    box-sizing: border-box;
    border-right: 2px dashed #ccc7b2;
}

.page2 bold {
    margin-top: 20px;
}

.page2>div {
    margin-bottom: 3px;
    padding: 0 20px;
    box-sizing: border-box;
}

.page2 .education {}

.page2 .courses {
    text-align: center;

}

.page2 .courses li {
    display: flex;
    justify-content: space-around;
}

.page2 .courses li>div:first-child {
    width: 30%;

}

.page2 .courses li>div:last-child {
    width: 70%;
}

.page2 .certificate {
    text-align: center;

}

.page2 .certificate li {
    display: flex;
    justify-content: space-around;
}

.page2 .certificate li>div:first-child {
    width: 30%;

}

.page2 .certificate li>div:last-child {
    width: 70%;
}

.page2 .tools ul {
    width: 100%;
    display: flex;
}

.page2 .tools li {
    width: 20%;
    background-size: cover;
    background-position: center;
}

.page3 {
    width: 38%;
    background-color: #F2F0E7;
    padding: 30px;
    box-sizing: border-box;
}

.page3 bold {
    margin-top: 20px;
}

.page3 h3 {
    font-weight: 600;
}

.page3>div {
    margin-bottom: 3px;
    padding: 0 20px;
    box-sizing: border-box;
}

.page3 .skill ul {
    margin-left: 20px;
}

.page3 .skill ul li {
    padding: 1px 3px;
}

.page3 .skill li>div:first-child {
    width: 28%;
}

.page3 .skill li>div:last-child {
    width: 72%;
}

.page3 .skill li {
    display: flex;
    justify-content: space-between;
}

/* .page3 .skill .skill-progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e0e0e0;

border-radius: 50%;
clip: rect(0, 50%, 100%, 0);

transform-origin: center;
}

*/

.skill-bar {
    width: 300px;
    /* 막대 바의 전체 너비 */
    height: 20px;
    /* 막대 바의 높이 */
    background-color: #e0e0e0;
    /* 막대 바의 기본 배경색 */
    border-radius: 10px;
    /* 막대 바의 모서리를 둥글게 설정 */
    overflow: hidden;
    /* 막대 바의 넘치는 부분을 숨김 */
}

.skill-progress {
    height: 100%;
    background-color: #ccc7b2;
    /* 스킬과 역량을 표시하는 막대의 배경색 */
}