@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

.port__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 2vw;
    box-sizing: border-box;
    overflow-y: scroll;
    /* background-color: #F2F0E7; */
}

.port__wrap::-webkit-scrollbar {
    /* background-color: #888;
    border-radius: 5px; */
    width: 0px;
}

.port__wrap .port {
    width: 24%;
    height: 500px;
    background-color: #F2F0E7;
    border: 1px solid #000;
    overflow: hidden;
    margin-bottom: 20px;
    box-sizing: border-box;
    margin: 30px 60px;
    transition: filter 0.3s, box-shadow 0.3s;
}

.port__wrap .port:hover {
    filter: grayscale(0%);
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.4);
}

.port__wrap .port .num {
    border-bottom: 1px solid #000;
    display: block;
    text-align: center;
    padding: 10px;
}

.port__wrap .port .title {
    border-bottom: 1px solid #000;
    text-align: center;
    font-family: 'Abel';
    font-weight: bold;
    padding: 5px;
    /* background-color: #554c4c; */
    background-color: #333;
    color: #fff;
}

.port__wrap .port:hover .title {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.port__wrap .port:nth-child(1):hover .title,
.port__wrap .port:nth-child(4):hover .title {
    background-color: #FFB6C1;
}

.port__wrap .port:nth-child(2):hover .title,
.port__wrap .port:nth-child(5):hover .title {
    background-color: #FFEEAD;
}

.port__wrap .port:nth-child(3):hover .title,
.port__wrap .port:nth-child(6):hover .title {
    background-color: #87CEEB;
}

.port__wrap .port .desc1 {
    display: block;
    border-bottom: 1px solid #000;
    text-align: center;
}

.port__wrap .port .desc2 {
    display: block;
    border-bottom: 1px solid #000;
    text-align: center;
}

.port__wrap .port .img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    filter: grayscale(100%);
}

.port__wrap .port:hover .img {
    filter: grayscale(0%);

}

.port__wrap .port:nth-child(1) .img {
    background-image: url(../image/FindEnglish\ 1.png);
}

.port__wrap .port:nth-child(2) .img {
    background-image: url(../image//Cinematic\ 1.png);
}

.port__wrap .port:nth-child(3) .img {
    background-image: url(../image/TrendDevice\ 1.png);
}

.port__wrap .port:nth-child(4) .img {
    background-image: url(../image/JoyPlayground\ 1.png);
}

.port__wrap .port:nth-child(5) .img {
    background-image: url(../image/EnglishDiary\ 1.png);
}

.port__wrap .port:nth-child(6) .img {
    background-image: url(../image/RollingPaper\ 1.png);
}


/* detail */

.more__wrap {
    width: 100%;
    height: 100%;
}

.more__wrap {
    width: 100%;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    box-sizing: border-box;
}

.more__wrap .left {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #000;
    background-image: url(../image/morebackground\ 1.png);
    background-position: center;
    background-size: cover;
}



.more__wrap .imgframe {
    width: 20vw;
    height: 22vw;
    /* background-color: #d6d2d1; */
    background-color: #F2F0E7;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    transform: rotate(5deg);
}

.more__wrap .imgframe:hover {
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.3);
    /* background-color: #F2F0E7; */

}

.more__wrap .image {
    width: 18vw;
    height: 15vw;
    margin-top: 2vw;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
}

.more__wrap .img1 {
    background-image: url(../image/FindEnglish\ 1.png);

}

.more__wrap .imgframe .text {
    position: absolute;
    left: 5%;
    bottom: 8%;
    font-size: 1vw;
    font-family: 'Parisienne';
    color: transparent;
    white-space: nowrap;
    overflow: hidden;
    transition: color 0.3s ease-in-out;
}

.more__wrap .imgframe:hover .text {
    color: #000;
    transition-delay: 0.3s;
}

.more__wrap .imgframe .text:nth-child(1) {
    transition-delay: 0.3s;
}

.more__wrap .imgframe .text:nth-child(2) {
    transition-delay: 0.8s;
}



.more__wrap .rigth {
    width: 55%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.more__wrap .rigth .text {
    width: 100%;
    height: 100%;
    background-color: #F2F0E7;
    box-shadow: 0px 0px 20px #0000002d;
    box-sizing: border-box;

}

.more__wrap .rigth .text h3 {
    border-bottom: 2px double #000;
    font-family: "PartizenoRegular";
    text-align: center;
    line-height: 1;
    padding: 10px;
    font-size: 30px;
}

.more__wrap .rigth .text {
    font-family: "Abel", "IropkeBatang";
    display: block;
}

.more__wrap .rigth .text .desc {
    padding: 20px;
    overflow-y: scroll;
    height: calc(100% - 60px);

}

.more__wrap .rigth .text .desc::-webkit-scrollbar {
    /* background-color: #888;
    border-radius: 5px; */
    width: 0px;
}

.more__wrap .rigth .text div {
    padding: 1%;
    margin-top: 5px;
    border-top: 1px solid #000;
}

.more__wrap .rigth .text em {
    padding-left: 5%;
    font-weight: bold;
    font-size: 20px;
}

.more__wrap .rigth .text p {
    padding: 0 10%;
    margin-top: 5px;
    font-family: "Abel", "IropkeBatang";
}

.more__wrap .rigth .text p em {
    font-weight: bold;

}

.more__wrap .rigth .text .btn {
    text-align: center;
}

.more__wrap .rigth .text .btn a {
    border: 1px double #000;
    padding: 5px 40px;
    border-radius: 50px;
    display: inline-block;
    background-color: #000;
    color: #F2F0E7;
    font-family: 'IropkeBatang';
    margin-top: 20px;
    margin-bottom: 30px;
    cursor: pointer;
}